<div class="container" id="about">
  <div class="space">
    <p>
      Miguel Rodriguez is a Sound Recordist, Designer, and Artist based in London. Born in 1985, he started studying music at the age of 9. Since then he has been involved in jazz and classical bands, orchestras, and drum ensembles. He studied composition at the same time and became interested in Sound Arts after taking lectures with composers who experimented in sound. He graduated at the London College of Communication (part of the University of the Arts London) in Sound Arts and Design. Since 2011 he has collaborated with filmmakers, gaining experience both as a sound recordist on set and in postproduction sound as a sound editor, designer, and re-recording mixer. Additionally, he has written and produced two radio programmes, which were broadcast in 2014.
    </p>
    <p>
      Currently, Miguel works regularly with filmmakers in short films, documentaries, adverts, and other productions. His works have been screened at the BFI, film festivals, and De Lane Lea studios. He owns equipment, software, and an extensive sound library.
    </p>
  </div><!-- .space -->
</div><!-- .container -->

<div class="container" id="video">
  <div class="title">
    <h1>Film Work</h1>
  </div>
  <div class="row feature">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="responsive-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hEeFNdFDIuo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- .col-xs-12 col-md-3 -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <p>
        These are extracts of some of the films in which Miguel Rodriguez worked as a sound designer.
      </p>
      <p>
        - In 1) the sound design illustrates the extremely stressful situation in which the main character lives. The director wanted the audience to understand that taking care of her mother was a burden that made the character feel trapped, drowning.
      </p>
      <p>
        - In 2) the emphasis is in the quiet sounds the characters make as they become intimate for the first time. The director wanted the audience to feel uncomfortably close to them.
      </p>
      <p>
        - In 3) the character daydreams of a better, more interesting life, as she feels suffocated by her routine as a housewife. These dreams are conveyed mainly through sound.
      </p>
      <p>
        - 4) is a fragment of a radio mockumentary about a blackout in an underground city. The story is brought to us through recordings made by the characters during the incident with different devices. The piece, which can be heard in full in the Radio Work section, was produced, written, edited, and mixed by Miguel Rodriguez. 
      </p>
    </div><!-- .cold-xs-12 col-sm-7 -->
  </div><!-- .row feature --> 

  <table class="distribute">
    <th colspan="4"><h3>Selected Film Credits</h3></th>
    <tr>
      <td>2015</td>
      <td>Sound Recordist Film (Short)</td>
      <td>Glimpse Of A Chance Alec Christie</td>
      <td>SteelReels</td>
    </tr>
    <tr>
      <td>2014 - 2015</td>
      <td>Sound Recordist, Sound Designer Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=104781" target="blank">My Best Friend Megan K. Fox</td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=104609" target="blank">MET. Film School</a></td>
    </tr>
    <tr>
      <td>2015</td>
      <td>Sound Recordist Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94261" target="blank">After The Party</a> Emma Nan-Hu</td>
      <td>Yi Studio</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Recordist Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89790" target="blank">Leap Of Faith</a> Dominic Ryan</td>
      <td>Carrot Top Productions</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Recordist Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89791" target="blank">The Christmas</a> Party Dominic Ryan</td>
      <td>Space Bound</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Recordist Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=85438" target="blank">Black 2 Sugars</a> Jane Alexandra Foster</td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=910" target="blank">23 Films</a></td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Recordist Commercial</td>
      <td>La figuraccia di un italiano in colloquio a Londra Simone Marcagni</td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=115398" target="blank">Scuola Internazionale di lingue</a></td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Designer Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94279" target="blank">The Things I Do For You</a> Thomas Sidali</td>
      <td>On Paper Productions</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Sound Recordist, Sound designer Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=93660" target="blank">When I Was A Teenage Whore</a> Georgia Fleury Reynolds</td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8286" target="blank">WAL</a></td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Sound Recordist Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99206" target="blank">Buzzkill</a> Mahmut Marmut</td>
      <td>Worn and Torn Films</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Sound Designer Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99204" target="blank">Madame Carey</a></td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Sound Recordist, Sound designer Film (Short)</td>
      <td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99205" target="blank">Mama's Boy</a> Fanny Hoetzeneder</td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></td>
    </tr>
    <tr>
      <td>2011 - 2013</td>
      <td>Sound Recordist TV</td>
      <td><a href="http://www.filmandtvpro.com/uk/tvshow_view.php?uid=1869" target="blank">Persona</a></td>
      <td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8717" target="blank">App Media</a></td>
    </tr>
  </table>
</div><!-- .container -->

<div class="container" id="audio">
  <h1>Radio Work</h1>
  <h3>Underground Science City</h3>
  <div class="row feature">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <p>BLACKOUT (Audio Documentary)</p>
      <p>
        Produced by: Miguel Rodriguez
        Written by: M.C Josephson & Miguel Rodriguez
      </p>
      <p>
        Nine moths and 21 days after its grandiose opening, the modern and highly controversial Science City, the largest research facility in the world, experienced a blackout that not only left its entire night staff in darkness, but also put their lives at serious risk. While there is an open investigation which will determine the future of the overwhelmingly large underground structure, this documentary, composed of audio recordings made by said staff on different devices and a recorded police phone call, chooses not to take sides in the heated debate that surrounds the topic and focuses instead on how those trapped that night coped with the situation.
      </p>
      <p>
        A sociological study, Blackout intentionally leaves out not only all comments by people other than those confined in the building that night, but also any afterthought that they might have had once their predicament was over. The intention is, according to its producer, that the audience “sit down in a dark room and feel for 10 minutes the way that all those unfortunate people felt that night for five hours.”
      </p>
      <p>Running time: 10 minutes.</p>

      <p>Cast: Marcus Frewin-Ridley, Elise Whyte, Kristin Duffy, Paula Brett, and Jon Clemens</p>

      <p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

      <p>Editing and mixing: Miguel Rodriguez</p>
    </div><!-- .col-xs-12 col-md-8 -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169865443&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      <!-- <a href="https://soundcloud.com/m-rodriguez-2/02-underground-science-city-blackout" target="blank"></a> -->
    </div><!-- .col-xs-12 col-sm-4 -->
  </div><!-- .row-feature -->

  <h3>Complex at the Centre of the Universe</h3>
  <div class="row feature">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194024946&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      <!-- <a href="https://soundcloud.com/m-rodriguez-2/complex-at-the-centre-of-the-universe" target="blank"></a> -->
    </div><!-- .col-xs-12 col-sm-4 -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <p>EXTRAORDINARY CITIES SERIES: COMPLEX AT THE CENTRE OF THE UNIVERSE (Audio Documentary)</p>
      <p>“Solely through sound, an entire environment, complete with memories and emotions, comes alive.”
          Barry Blesser and Linda Salter, Spaces Speak: Are You Listening?</p>
      <p>
        Produced by: Miguel Rodriguez
        Written by: M.C Josephson & Miguel Rodriguez
      </p>
      <p>
        In this first programme of the Extraordinary Cities Series, journalist Anna Jones takes us on a sound walk through the magnificent Complex at the Centre of the Universe. The city, vertical in nature and built upon a 6-acre rock in the middle of the Pacific Ocean, presents us with a unique soundscape, in which the ceaseless traffic background inherent to most horizontal cities in the world is replaced by the roaring of the ocean from all sides. In her journey, Parks visits both the landmarks of the city, such as the Roof Garden and the Ground Floor Garden, and those places its inhabitants go by daily as part of their routine, such as the lift stations and the residential floors.
      </p>
      <p>
        By exploring cities through their soundscapes, the Extraordinary Cities Series attempts to immerse its audience into the dynamic of a place, its movement and its activities in a way a landscape would not be able to accomplish, giving them a unique auditory first impression that would hopefully encourage further exploration. 
      </p>
      <p>Running time: 10 minutes.</p>

      <p>Cast: Elise Whyte, Paula Brett, Jon Clemens, and Marcus Frewin-Ridley</p>

      <p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

      <p>Editing and mixing: Miguel Rodriguez</p>
    </div><!-- .col-xs-12 col-md-8 -->
  </div><!-- .row-feature -->
</div><!-- .container -->

<div class="container" id="gallery">
  <div class="row feature">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <h2>Gallery</h2>
      <div class="grid-of-images">
        <div class="lightbox">
          <a href="/images/1.jpg" title="Caption 1"><img src="/images/thumb-1.jpg"></a>
          <a href="/images/2.jpg" title="Caption 2"><img src="/images/thumb-2.jpg"></a>
          <a href="/images/3.jpg" title="Caption 3"><img src="/images/thumb-3.jpg"></a>
          <a href="/images/4.jpg" title="Caption 4"><img src="/images/thumb-4.jpg"></a>
          <a href="/images/5.jpg" title="Caption 5"><img src="/images/thumb-5.jpg"></a>
          <a href="/images/6.jpg" title="Caption 6"><img src="/images/thumb-6.jpg"></a>
          <a href="/images/7.jpg" title="Caption 7"><img src="/images/thumb-7.jpg"></a>
          <a href="/images/8.jpg" title="Caption 8"><img src="/images/thumb-8.jpg"></a>
          <a href="/images/9.jpg" title="Caption 9"><img src="/images/thumb-9.jpg"></a>
        </div>
      </div>
    </div>
  </div>
</div><!-- .container -->

<div class="container" id="form_in">
  <div class="row feature">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <%= form_tag({controller: "contact", action: "form_out"}, method: "post", id: "contact-form") do %>
        <h2>Send me a message</h2>
        <p>If you have any questions or comments, contact me using the form below. Otherwise, please call me on this number: +44 (0)740 2135 338</p>
        <p><%= label_tag(:name, "Name") %></p>
        <p><%= text_field_tag(:name, nil, {placeholder: "Full Name" })%></p>
        <p>
          <select data-placeholder="Choose a country..." class="chosen-select">
            <option value=""></option>
            <option value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Aland Islands">Aland Islands</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
            <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cote D&apos;ivoire">Cote D'ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Curacao">Curacao</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guernsey">Guernsey</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-bissau">Guinea-bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Isle of Man">Isle of Man</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jersey">Jersey</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Korea, Democratic People&apos;s Republic of">Korea, Democratic People's Republic of</option>
            <option value="Korea, Republic of">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao People&apos;s Democratic Republic">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macao">Macao</option>
            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Martinique">Martinique</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mayotte">Mayotte</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
            <option value="Moldova, Republic of">Moldova, Republic of</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Caledonia">New Caledonia</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Niue">Niue</option>
            <option value="Norfolk Island">Norfolk Island</option>
            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Pitcairn">Pitcairn</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Qatar">Qatar</option>
            <option value="Reunion">Reunion</option>
            <option value="Romania">Romania</option>
            <option value="Russian Federation">Russian Federation</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Barthelemy">Saint Barthelemy</option>
            <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Martin (French part)">Saint Martin (French part)</option>
            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-leste">Timor-leste</option>
            <option value="Togo">Togo</option>
            <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
            <option value="Viet Nam">Viet Nam</option>
            <option value="Virgin Islands, British">Virgin Islands, British</option>
            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
            <option value="Wallis and Futuna">Wallis and Futuna</option>
            <option value="Western Sahara">Western Sahara</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
          </select>
        </p>
        <p><%= label_tag(:email, "Email") %></p>
        <p><%= text_field_tag(:email, nil, {placeholder: "Email address"}) %></p>
        <p><%= label_tag(:website, "Website") %></p>
        <p><%= text_field_tag(:website, nil, {placeholder: "URL"}) %></p>
        <p><%= label_tag(:subject, "Subject") %></p>
        <p><%= text_field_tag(:subject, nil, {placeholder: "Issue"}) %></p>
        <p><%= label_tag(:message, "Message") %></p>
        <p><%= text_area_tag(:message, nil, {size: "35 X 10", placeholder: "Some comments or questions..."}) %></p>
        <p><%= submit_tag("Submit", {class: 'btn btn-success'}) %></p>
      <% end %>
    </div>
  </div>
</div><!-- .container -->





