<div class="container anchor" id="about-p">
  <h2>About</h2>
    <p>
      Miguel Rodriguez is a Sound Recordist, Designer, and Artist based in London. Born in 1985, he started studying music at the age of 9. Since then he has been involved in jazz and classical bands, orchestras, and drum ensembles. He studied composition at the same time and became interested in Sound Arts after taking lectures with composers who experimented in sound. He graduated at the London College of Communication (part of the University of the Arts London) in Sound Arts and Design. Since 2011 he has collaborated with filmmakers, gaining experience both as a sound recordist on set and in postproduction sound as a sound editor, designer, and re-recording mixer. Additionally, he has written and produced two radio programmes, which were broadcast in 2014.
    </p>
    <p>
      Currently, Miguel works regularly with filmmakers in films, documentaries, adverts, and other productions. His works have been screened at the BFI, film festivals, and De Lane Lea studios. He owns equipment, software, and an extensive sound library.
    </p>
  <!--   <p>
      Skilled Sound Recordist and Designer experienced in film, advertising, and corporate productions, with ample knowledge of film, and production and post-production sound. Great at team based work environments with great communication skills. I am a dedicated and detail orientated person, proactive and with initiative. Interested in learning and gaining new knowledge and skills.
    </p> -->
</div><!-- .container -->

<div class="container" id="video1">
  <table class="distribute" border="1">
    <h2>Video</h2>
    <h4>Selected Film Credits</h4>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Feature)</p></td>
      <td class="sound-type"><p>White Colour Black</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/company/18706/dreamcoat-productions" target="blank">DreamCoat Productions</a> </p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/films/106283/the-fuzz" target="blank">The Fuzz</a><br>Grant Alexander</p></td>
      <td class="sound-type"><p>Frontrow Productions</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p>Glimpse Of A Chance<br>Alec Christie</p></td>
      <td class="sound-type"><p>SteelReels</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Editor/Designer<br>Film (Docu)</p></td>
      <td class="sound-type"><p>An A to Z to Poverty</p></td>
      <td class="sound-type"><p>Freedom From Torture</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014 - 2015</p></td>
      <td class="sound-type"><p>Sound Recordist, Sound Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p>Red Dawn</p></td>
      <td class="sound-type"><p>Edwardway</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p>Time Of My Life</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/company/46228/" target="blank">LipSync</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Editor/Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p>The Grad Film<br>Lavinia Scifoni</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/company/2389/lcc" target="blank">LCC</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Editor/Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p>Charly's World</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/company/2389/lcc" target="blank">LCC</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p>Effigies</p></td>
      <td class="sound-type"><p>Sophie Bernberg</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p>Bonny's Revenge</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/company/3082/met" target="blank">MET.</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014 - 2015</p></td>
      <td class="sound-type"><p>Sound Recordist, Sound Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=104781" target="blank">My Best Friend</a><br>Megan K. Fox
      </p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=104609" target="blank">MET. Film School</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2015</td></p>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94261" target="blank">After The Party</a><br>Emma Nan-Hu</p></td>
      <td class="sound-type"><p>Yi Studio</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89790" target="blank">Leap Of Faith</a><br>Dominic Ryan</p></td>
      <td class="sound-type"><p>Carrot Top Productions</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89791" target="blank">The Christmas Party</a></p></td>
      <td class="sound-type"><p>Space Bound</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=85438" target="blank">Black 2 Sugars</a><br>Jane Alexandra Foster</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=910" target="blank">23 Films</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Commercial</p></td>
      <td class="sound-type"><p>La figuraccia di un italiano in colloquio a Londra<br>Simone Marcagni</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=115398" target="blank">Scuola Internazionale di lingue</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94279" target="blank">The Things I Do For You</a><br>Thomas Sidali</p></td>
      <td class="sound-type"><p>On Paper Productions</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2014</p></td>
      <td class="sound-type"><p>Sound Recordist, Sound designer<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=93660" target="blank">
        When I Was A Teenage Whore</a><br>Georgia Fleury Reynolds</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8286" target="blank">WAL</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2013</p></td>
      <td class="sound-type"><p>Sound Recordist<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99206" target="blank">Buzzkill</a><br>Mahmut Marmut</p></td>
      <td class="sound-type"><p>Worn and Torn Films</p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2013</p></td>
      <td class="sound-type"><p>Sound Designer<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99204" target="blank">Madame Carey</a></p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2013</p></td>
      <td class="sound-type"><p>Sound Recordist, Sound designer<br>Film (Short)</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99205" target="blank">Mama's Boy</a><br>
      Fanny Hoetzeneder</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></p></td>
    </tr>
    <tr>
      <td class="sound-type"><p>2011 - 2013</p></td>
      <td class="sound-type"><p>Sound Recordist<br>TV</p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/tvshow_view.php?uid=1869" target="blank">Persona</a></p></td>
      <td class="sound-type"><p><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8717" target="blank">App Media</a></p></td>
    </tr>
  </table>
</div><!-- .container -->

<div class="container anchor" id="video2">
  <div class="row feature">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <div class="title">
        <h4>Portfolio</h4>
      </div>
      <p>
        These are extracts of some of the films I've worked on.
      </p>
      <p>
        INTRO -  Chaly's World: The protagonist wakes up and finds herself absorbed by a TV. All the Sound Design for Chaly's World was made in 24 hours.
      </p>
      <p>
        1) MY BEST FRIEND (0:41): As they watch Betty Boop cartoons, the protagonist, a teenage girl, is pressured into drinking by her best friend and a much older man, who scarcely hides his foul intentions. The sound here, on the one hand, is meant to enhance the threat that he represents, foreshadowing what is about to come later on. On the other hand, it's very subjective to the point of view of the protagonist. Subtle sounds are prioritised.
      </p>
      <p>
        2) THE GRAD FILM (3:03): In this comedy, the production of a student film is falling apart. The scene is messy and relentless, with many characters constantly moving around, which caused a lot of issues with production sound. A lot of work was put into matching completely different sources capturing the dialogue and cleaning the tracks. Other than that, sound is there to help the comedic timing with big and small sound effects, sharp contrasts in volume, and help drawing our attention to the right part of the screen.
      </p>
      <p>
        3) WHEN I WAS A TEENAGE WHORE (6:04): A coming of age film about a teenager about to lose her virginity, this film needed the sound to add awkwardness to the build-up. This is accomplished by quiet moments, intimate sounds, and intentionally omitting sound effects, providing with a highly subjective experience. All of the dialogue is ADR.
      </p>
      <p>
        4) MADAME CAREY (9:51):  In this short film inspired by Madame Bovary, the character daydreams with a better, more interesting life, as she feels suffocated by her routine as a housewife. These dreams are conveyed mainly through sound. 
      </p>
    </div><!-- .cold-xs-12 col-sm-7 -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="responsive-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aq9dVzl07B4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- .col-xs-12 col-md-3 -->
  </div><!-- .row feature --> 
</div><!-- .container -->



<div class="container anchor" id="audio1">
  <h2>Audio</h2>
  <div class="row feature">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Underground Science City (Radio work)</h4>
      <p>BLACKOUT (Audio Documentary)</p>
      <p>
        Produced by: Miguel Rodriguez
        Written by: M.C Josephson & Miguel Rodriguez
      </p>
      <p>
        Nine moths and 21 days after its grandiose opening, the modern and highly controversial Science City, the largest research facility in the world, experienced a blackout that not only left its entire night staff in darkness, but also put their lives at serious risk. While there is an open investigation which will determine the future of the overwhelmingly large underground structure, this documentary, composed of audio recordings made by said staff on different devices and a recorded police phone call, chooses not to take sides in the heated debate that surrounds the topic and focuses instead on how those trapped that night coped with the situation.
      </p>
      <p>
        A sociological study, Blackout intentionally leaves out not only all comments by people other than those confined in the building that night, but also any afterthought that they might have had once their predicament was over. The intention is, according to its producer, that the audience “sit down in a dark room and feel for 10 minutes the way that all those unfortunate people felt that night for five hours.”
      </p>
      <p>Running time: 10 minutes.</p>

      <p>Cast: Marcus Frewin-Ridley, Elise Whyte, Kristin Duffy, Paula Brett, and Jon Clemens</p>

      <p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

      <p>Editing and mixing: Miguel Rodriguez</p>
    </div><!-- .col-xs-12 col-md-8 -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169865443&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
      <a href="https://soundcloud.com/m-rodriguez-2/02-underground-science-city-blackout" target="blank"><img src="/images/usc.jpg" 
        class="responsive-image"></a>
    </div><!-- .col-xs-12 col-sm-4 -->
  </div><!-- .row-feature -->
</div><!-- .container -->

<div class="container anchor" id="audio2">
  <div class="row feature">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194024946&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
      <a href="https://soundcloud.com/m-rodriguez-2/complex-at-the-centre-of-the-universe" target="blank"><img src="/images/ccu.jpg"
       class="responsive-image"></a>
    </div><!-- .col-xs-12 col-sm-4 -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h4>Complex at the Centre of the Universe (Radio work)</h4>
      <p>EXTRAORDINARY CITIES SERIES: COMPLEX AT THE CENTRE OF THE UNIVERSE (Audio Documentary)</p>
      <p>“Solely through sound, an entire environment, complete with memories and emotions, comes alive.”
          Barry Blesser and Linda Salter, Spaces Speak: Are You Listening?</p>
      <p>
        Produced by: Miguel Rodriguez
        Written by: M.C Josephson & Miguel Rodriguez
      </p>
      <p>
        In this first programme of the Extraordinary Cities Series, journalist Anna Jones takes us on a sound walk through the magnificent Complex at the Centre of the Universe. The city, vertical in nature and built upon a 6-acre rock in the middle of the Pacific Ocean, presents us with a unique soundscape, in which the ceaseless traffic background inherent to most horizontal cities in the world is replaced by the roaring of the ocean from all sides. In her journey, Parks visits both the landmarks of the city, such as the Roof Garden and the Ground Floor Garden, and those places its inhabitants go by daily as part of their routine, such as the lift stations and the residential floors.
      </p>
      <p>
        By exploring cities through their soundscapes, the Extraordinary Cities Series attempts to immerse its audience into the dynamic of a place, its movement and its activities in a way a landscape would not be able to accomplish, giving them a unique auditory first impression that would hopefully encourage further exploration. 
      </p>
      <p>Running time: 10 minutes.</p>

      <p>Cast: Elise Whyte, Paula Brett, Jon Clemens, and Marcus Frewin-Ridley</p>

      <p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

      <p>Editing and mixing: Miguel Rodriguez</p>
    </div><!-- .col-xs-12 col-md-8 -->
  </div><!-- .row-feature -->
</div><!-- .container -->

<div class="container anchor" id="gallery">
  <div class="row feature">
    <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12">
      <h2>Gallery</h2>
      <div class="grid-of-images">
        <div class="lightbox">
          <a href="/images/1.gif" title="Caption 1"><img src="/images/_thumbs/1a.gif"></a>
          <a href="/images/2.gif" title="Caption 2"><img src="/images/_thumbs/2a.gif"></a>
          <a href="/images/3.gif" title="Caption 3"><img src="/images/_thumbs/3a.gif"></a>
          <a href="/images/4.gif" title="Caption 4"><img src="/images/_thumbs/4a.gif"></a>
          <a href="/images/5.gif" title="Caption 5"><img src="/images/_thumbs/5a.gif"></a>
          <a href="/images/6.gif" title="Caption 6"><img src="/images/_thumbs/6a.gif"></a>
          <a href="/images/7.gif" title="Caption 7"><img src="/images/_thumbs/7a.gif"></a>
          <a href="/images/8.gif" title="Caption 8"><img src="/images/_thumbs/8a.gif"></a>
          <a href="/images/9.gif" title="Caption 9"><img src="/images/_thumbs/9a.gif"></a>
          <a href="/images/10.gif" title="Caption 10"><img src="/images/_thumbs/10a.gif"></a>
          <a href="/images/11.gif" title="Caption 11"><img src="/images/_thumbs/11a.gif"></a>
          <a href="/images/12.gif" title="Caption 12"><img src="/images/_thumbs/12a.gif"></a>
        </div>
      </div>
    </div>
  </div>
</div><!-- .container -->

<div class="container anchor" id="contact">
  <div class="row feature form">
    <%= form_tag({controller: "contact", action: "form_out"}, method: "post", id: "contact-form") do %>
      <h2>Contact</h2>
      <p>If you have any questions or comments, contact me using the form below. Otherwise, please call me on this number: +44 (0)740 2135 338</p>
      <div class="form-fields">
        <div class="row feature">
          <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <p><%= label_tag(:name, "Name") %><br/>
            <%= text_field_tag(:name, nil, {placeholder: "Full Name", size:57 })%></p>
            <p><%= label_tag(:email, "Email") %><br/>
            <%= text_field_tag(:email, nil, {placeholder: "Email address", size:57 }) %></p>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <p><%= label_tag(:phone, "Phone") %><br/>
            <%= text_field_tag(:phone, nil, {placeholder: "Phone", size:57}) %></p>
            <p><%= label_tag(:subject, "Subject") %><br/>
            <%= text_field_tag(:subject, nil, {placeholder: "Subject", size:57}) %></p>
          </div>
        </div>
        <div class="row feature">
          <div class="col-xs-12 col-sm- col-md-9 col-lg-9">
            <p><%= label_tag(:message, "Message") %><br/>
            <%= text_area_tag(:message, nil, {size: "119 X 40", placeholder: "Some comments or questions..."}) %></p>
            <p><%= submit_tag("Send Message", {class: 'btn btn-success btn-md'}) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- .row -->
</div><!-- .container -->
